.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
}

.headerTitleSm{
    position: relative;
    top: 18%;
    font-size: 40px;

}

.headerTitleLg{
    position: relative;
    top: 20%;
    font-size: 40px;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 40px;
    /* object-fit: cover; */
}


